<% layout("/layouts/boilerplate") %>


  <div class="row">

    <div class="col-8 offset-2">

    <h2>Edit Listing</h2><br>

    <form method="post" action="/listings/<%= listing._id%>?_method=PUT" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input  name="listing[title]" required type="text" class="form-control" value="<%= listing.title %>" />
            <div class="valid-feedback">Title looks good !</div>
        </div>
        <br />

        <div class="mb-3">
            <label  for="description" class="form-label">Description</label>
            <textarea  class="form-control" type="text" name="listing[description]"> <%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <br />

        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input class="form-control" type="text" name="listing[image]" required value="<%= listing.image %>" />
            <div class="invalid-feedback">Please enter valid link for image</div>
        </div>
        <br /> 

        <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input class="form-control" type="number" name="listing[price]" required value="<%= listing.price %>"/>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <br /> 

        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input class="form-control" type="text" name="listing[country]" required value="<%= listing.country %>" />
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        <br /> 
        </div>

        <div class="mb-3 ">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" name="listing[location]" required value="<%= listing.location %>" />
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br /> 

        <button class="btn edit-btn" >Edit</button>
        <br><br><br>
    </form>
    </div>
</div>
<script src="/js/script.js"></script>

